body {
	margin: 0px;
}

header {
	width: 100%;
	height: 500px;
	background-color: black;
	margin: 0px;
}

canvas {
	width: 100%;
	height: 100%;
	z-index: 5;
}

h1 {
	color: white;
}

#title-overlay {
	z-index: 0;
	position: absolute;
	height: 50%;
	max-width: 25%;
	min-width: 500px;
	top: 100px;
	left: 0px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title-overlay > h1, #title-overlay > h3 {
	margin: 0px;
	color: white;
	font-family: 'Share Tech', sans-serif;
}

#title-overlay > h1 {
	font-size: 80px;
}

#title-overlay > h3 {
	font-size: 30px;

}
