body {
	margin: 0px;
	background-color: black;
	width: 100%;
}

header {
	width: 100%;
	height: 550px;
	background-color: black;
	margin: 0px;
}

canvas {
	width: 100%;
	height: 150%;
	z-index: 5;
}

h1 {
	color: white;
}

#title-overlay {
	z-index: 0;
	position: absolute;
	height: 50%;
	max-width: 25%;
	min-width: 500px;
	top: 50px;
	left: 0px;
	margin-left: 25px;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title-overlay > h1, #title-overlay > h3 {
	margin: 0px;
	color: white;
	font-family: 'Share Tech', sans-serif;
	font-weight: lighter;
}

#title-overlay > h1 {
	font-size: 80px;
}

#title-overlay > h3 {
	font-size: 30px;

}

main {
	width: 100vw;

}

main > div {
	width: 90%;
	/*height: 300px;*/
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 5%;
	padding-top: 0px;
	font-family: 'Share Tech', sans-serif;
}

nav {
	top: 0px;
	height: 50px;
	width: 100%;
	margin-right: 0px;
	background-color: black;
	position: absolute;
}

#nav-wrap {
	padding-bottom: 3px;
	top: 0px;
	height: 53px;
	background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
	z-index: 5;
	width: 100%;
	position: fixed;
}

nav > a {
	margin: 10px 20px;
	color: white;
	text-decoration: none;
	font-family: 'Share Tech', sans-serif;
	font-size: 30px;
	z-index: 0;
}

nav > a:hover {
	text-decoration: underline;
	color: white;
}

p {
	font-size: 25px;
	width: 100%;
	margin: 0px;
}

main > div > h2 {
	margin: 0px;
	font-size: 30px;
	text-decoration: underline;
}

#skills-div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center
}

.row {
	margin-top: 15px;
}

.row > div > img {
	max-height: 50%;
	max-width: 50%;
}

.row > div {
	max-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.row > div:hover {
	transform: scale(1.3);
}

.row > div > span {
	font-size: 20px;
	text-align: center;
	padding-bottom: 5px;
}

#skills {
	height: 100%
}

.spacer {
	width: 100%;
	height: 60px;
	background-color: black;

}

h3 > img {
	height: 10px;
	transform: scaleY(-1)
}

.exp-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 10px;

}

#tst-logo {
	width: 100%;

}

li {
	font-size: 20px;
	height: 0px;
	opacity: 0;
	transition: .5s;
}

#exp-ul-nys, #exp-ul-tst {
	/*height: 0px;*/
}

#exp-show-details-tst:hover, #exp-show-details-nys:hover {
	text-decoration: underline;
	cursor: pointer;
}

#exp-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.exp-col {
	max-width: 47%;
	display: flex;
	flex-direction: column;
}

.open {
	height: 10%;
	opacity: 1;
}

#contact-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact-form {
	border: 8px outset white;
	padding: 20px 30px;
	width: 75%;
	height: 150%;
}

#contact-form > label {
	width: 100%
}

#contact-form > label > input {
	width: 50%;
}
#contact-form > label > textarea {
	width: 100%;
	height: 150px;
}

#contact-form > h2 {
	margin: 5px;
	font-size: 30px;
	text-decoration: underline;
}

#contact-form > button {
	left: 50px;
}

#sample-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px
}

#sample-content > a > h2 {
	margin-top: 20px;
	color: white;
	font-size: 25px;
	text-align: center;
}

#sample-content > a > h2:hover {
	color: white;
	text-decoration: none;
}

.project-icon {
	border: 8px solid white;
	border-radius: 100%;
	position: relative;
	width: 20vw;
	height: 20vw;
	min-width: 250px;
	min-height: 250px;
	margin: 15px;
	transition: .2s;
}

.project-icon:hover {
	transform: scale(1.1);
	text-decoration: none;
}

.project-icon > img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

#ye-img {
	background-color: rgb(56, 2, 2);
}

#bulletin-img {
	background-color: rgb(13,55,13)
}

.project-content {
	border: 8px solid white;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 30px;
	background-color: rgba(0,0,0,.6);
	border-radius: 100%;
	opacity: 0;
	transition: 0.5s;
}

.project-content:hover {
	opacity: 1;
	transform: scale(1.1);
}

.project-content > h2 {
	font-size: 20px;
	margin-top: 10%;
	text-align: center;
	color: white;
}

.project-content > p {
	font-size: 15px;
	text-align: center;
	color: white;
}

footer {
	padding-top: 3px;
	bottom: 0px;
	height: 73px;
	background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
	width: 100%;
	position: relative;
	clear: both;
}

footer > div {
	bottom: 0px;
	height: 70px;
	width: 100%;
	margin-top: 20px;
	background-color: black;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

footer > div > a {
	text-align: center;
}

footer > div > a, footer > div > div {
	margin: 15px 35px;
	color: white;
	max-height: 100%;
	text-align: center;
}

footer > div > a > img {
	max-height: 100%;
}

footer > div > div > a {
	color: white;
}

footer > div > div > a:hover {
	color: white;

}
